/* CSS Document */
html, body {
	height: 100%;
}
body{
	background-image:url(../images/cream_pixels.fw.png);
	background-repeat:repeat;
	margin-top:10px;
	border:0px solid red; 
}
.wrapper {
	max-width: 440px;
	background-color:#FFF;
	width: 100%;
	margin: 0 auto -20px;
	border:5px solid #FFBF00; 
	border-radius: 13px;
	background-color:#FFBF00;
	padding: 20px;
}

img {
	padding:1px;
	border:1px solid #D7D7D7;
	background-color:#FFF;
	margin: 5px 15px 5px 50px;
}

/* ------------------ header ------------------- */

#header{
	width: 100%;
	background:#FFBF00;
	height:12px;
}
#content1{
	width: 100%;
	background-color:#00AEC3;
	height:100px;
	margin-left:0 0 0 0;
	border:0px solid blue;
	border-radius: 5px;	
}
#content2{
	width: 100%;
	background-image:url(../images/rupee.png);
	background-size: 80px 100px;
	background-position:8% 50%;
	background-repeat:no-repeat;
	height:120px;border:0px solid blue; 
	padding-top: 30px;
}
#content3{
	width: 100%;
	background-color:#00AEC3;
	height:100px;
	font-size:2em; 
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 10px;
	border-radius: 5px;
}

#content4{
	width: 100%;
	background-color:#FFBF00;
	background-repeat:no-repeat;
	height:100px;
	margin-left:0 0 0 0;
	border:0px solid blue; 
}

/* ------------------ navigation ------------------- */

#nav {
	width: 100%;
	background-color: #FFBF00;
	height: 57px;
	background-repeat: repeat;
	border:1px solid green; 
}

#nav .wrap-nav{
	height: 30px; 
	background: #333333;
}

#nav ul{
	float:left;
	list-style:none;
	width:100%;
	border:1px solid red; 
}

#nav ul li{
	float:left;
	list-style:none;
	margin-right:80px;
	border:1px solid red; 
}

#nav ul li:hover {background: #00AEC3;}

#nav ul li a{
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	display: block;
	padding: 7px 10px;
	margin-bottom: 1px;
	z-index: 3;
	position: relative;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}



/* ------------------ content ------------------- */
#bigfont{
	font-size:7em; 
	font-family:Arial, Helvetica, sans-serif; 
	border:0px solid red;
}	

h2{
	font-size:16px; 
	font-family:Arial, Helvetica, sans-serif; 
	line-height:16px;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-align: center;
	color: #008493;
	text-shadow: 0 1px 1px #dadada;
}

p{
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	text-align:left; 
	line-height:18px;
	text-align:justify;

}

a{
	color:#DA251D;
}

#content .wrap-content{ background: #ffffff;}

.box1 {
	margin:5px 7px; 
	padding:10px; 
	border:1px solid red; 
}
.box1 h2{text-align:center; }
.box2 {
	margin:0px 7px; 
	padding:10px; 
	text-align:left;
	border:1px solid red; 
}
.box3 {
	margin:5px 7px; 
	padding:10px; 
	text-align:left;
}

div.line {
	border-top-width:1px;
	border-top-style:dotted;
	border-top-color:#D7D7D7;
}

/* -------------------- column and row ------------------- */


.wraptext{margin:5px;}
.text .co1umn1, .text .co1umn2{float:left; display: inline-block;}

.text .wraptext{
	margin: 16px;
}



/* ------------------ footer -------------------- */

footer {
	background-image: url(images/top_yellow_bg.jpg);
	background-repeat: repeat-x;
} 

.wrap-footer{
	background-image: url(images/top_yellow_bg.jpg);
	background-repeat: repeat-x;

}

.ftr { 
	background:#FFBF00; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#ffffff; 
}

.ftr p{
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	text-align:center;
	line-height:30px;
}

.ftr a{
	text-decoration:underline; 
	color:#DA251D; 
}

/*----------	Tablet size    ---------*/		

@media only screen and (max-width: 768px) {

	body{
		margin-top:10px;
	}

	#header{
		width: 100%;
		background-color:#00AEC3;
		background-image:url(images/header_image_big.jpg);
		background-repeat:no-repeat;
		height:214px;
		margin-left:0 0 0 0;
		display:block;
	}


	#nav {
		width: 100%;
		background:#FFBF00;
		position: relative;  
		border-bottom: 10px solid #FFBF00;
	}

	#nav ul{
		float:left;
		list-style:none;
		width:100%;
		display: block;
		position:relative;
	}

	#nav ul li a{
		text-decoration: none;
		font-size: 12px;
		line-height: 10px;
		color: #000000;
		display: block;
		margin:0;
		padding:5px;
		list-style:none;
		z-index: 1;
		position:relative;	
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		clear: left;
	}

	#header_bottom{
		width: 100%;
		position:relative;
		z-index:3;
		display:block;
	}

	#content .wrap-content{ 
		background: #ffffff; 
		display: block; 
		width: 100%; 
	}

	.text .wraptext{
		margin: 16px;
	}

	.box1 .box2 .box3 {
		margin:0px 7px; 
		padding:5px; 
	}
}



/*----------	Iphone size    ---------*/		

@media only screen and (max-width: 320px) {

	body{
		margin-top:1px;
	}

	#header{
		max-width: 100%;
		background-image:url(images/header_image_small.jpg);
		height:160px;
		display:block;
	}

	#nav {
		height: auto;
		position: relative;  
		border-bottom: 97px solid #FFBF00;
	}

	#nav .wrap-nav{
		background:#FFBF00;
		background-repeat: repeat-x;
		display: block;
		height: auto;
	}

	#nav ul{
		list-style:none;
		height: auto;
		width:100%;
		display: block;
		position:relative;
	}

	#nav ul li a{
		text-decoration: none;
		font-size: 12px;
		line-height: 10px;
		color: #000000;
		display: block;
		margin:0;
		padding:5px;
		list-style:none;
		z-index: 3;
		position:inherit;	
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		clear: left;
	}

	.text .wraptext{
		margin: 5px;
	}

	.box1 .box2 .box3  {
		margin:0px 7px; 
		padding:5px;
		display:block; 
	}

	h3{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 100%;
	}
	img {
		padding:1px;
		border:1px solid #D7D7D7;
		background-color:#FFF;
		margin: 0px 0px 0px 0px;
	}
}

	.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 75px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 20px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*
input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
	background: rgba(255,255,255,0.5);
	margin-top: 45px;
	width: 170px;
	
}

*/

input[type="text"] {
	
  float:right;
  display: block;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align:right;
  border-radius: 5px;
  /*background-color:#FFBF00;*/
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  padding: 0;
}
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

/* clear floated divs */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.category select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background: #0088cc url(images/select-arrow.png) no-repeat 90% center;
	width: 63%; 
	text-indent: 0.01px; 
	text-overflow: "aa"; 
	color: #FFF;
	padding: 15px;
	box-shadow: inset 0 0 1px rgba(000,000,000, 0.5);
	float:right;
	border-radius: 10px;
	font-size: 0.4em;
	 	
}
.category select.balck {
	background-color: #000;
}
.category select.option3 {
	border-radius: 10px 0;
}

/* --------------------------------  CSS Dropdown ----------------- */

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
	padding:14px;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
		font-size: .75em;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
		
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
		
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.1em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
		
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
		
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}

